@page
@model MoviesBlogRazor.WebApp.Pages.ReviewsModel
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery AntiForgery;

@{
    ViewData["Title"] = "Мои обзоры";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="./MovieReviews/Create">Create New</a>
</p>

@foreach (var item in Model.MovieReview)
{
    var elementId = "MovieReview" + item.MovieReviewId;

    <div id="@elementId" class="card mb-1" style="max-width: 2000px">
        <div class="row no-gutters">
            <div class="col-md-2">
                <img src="@item.Image" width="100%">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h5 class="card-title">@item.Title</h5>
                        </div>
                        <div class="col-md-9 text-right">
                            @*<a asp-page="./MovieReviews/Delete" asp-route-id="@item.MovieReviewId">Delete</a>*@
                            <a href="javascript:void(0);" onclick="getConfirmation('@item.Title', '@item.MovieReviewId')">Удалить</a>
                        </div>
                    </div>

                    <p class="card-text">
                        IMBD: @item.Rating | MyRating: @item.MyRating
                    </p>
                    <p class="card-text" style="font-size: larger">
                        Описание:
                    </p>
                    <p class="card-text" style="text-align: justify">
                        @item.Description
                    </p>

                    @{ var buttonContainerId = elementId + "_ButtonRow"; }

                    <div id="@buttonContainerId" class="row">
                        <div class="col-md-3">
                            <p class="card-text">
                                <small class="text-muted">
                                    Обзор добавлен @item.ReviewDateCreated.Value.ToString("dd-MM-yyyy")
                                </small>
                            </p>
                        </div>
                        <div class="col-md-9 text-right">
                            <button type="button" onclick="showFullReview('@item.MovieReviewId')">Показать обзор</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{

    <script type="text/javascript">
        function getConfirmation(title, id) {
            var retVal = confirm("Do you want to delete review for \"" + title + "\" with id= " + id + "?");

            if (retVal == true) {
                // ajax here
                deleteReview(id);

                var elementId = "MovieReview" + id;

                document.getElementById(elementId).outerHTML = "";
                //document.write ("User wants to continue!");
                return true;
            } else {
                return false;
            }
        }
    </script>

    <script>
        function deleteReview(id) {
            var xhttp = new XMLHttpRequest();
            var endpoint = "/MovieReviews/Delete/" + id;
            //xhttp.setRequestHeader("RequestVerificationToken", "@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken");
            //xhttp.setRequestHeader('__RequestVerificationToken', $('input[name="__RequestVerificationToken"]').val());
            xhttp.open("POST", endpoint, true);
            xhttp.send();
        }
    </script>

    <script>
        function showFullReview(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var elementId = "MovieReview" + id;
                    var cardContainer = document.getElementById(elementId).innerHTML = this.responseText;

                    var buttonRowElementId = "MovieReview" + id + "_ButtonRow";
                    document.getElementById(buttonRowElementId).innerHTML +=
                        "<div class=\"col-md-9 text-right\">" + "<button type=\"button\" " +
                        "onclick=\"hideFullReview('" + id + "\')\">Скрыть обзор</button></div>";
                }
            };
            var endpoint = "/MovieReviews/FullMovieReviewEntity/" + id;
            xhttp.open("GET", endpoint, true);
            xhttp.send();
        }
    </script>

    <script>
        function hideFullReview(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var elementId = "MovieReview" + id;
                    var cardContainer = document.getElementById(elementId).innerHTML = this.responseText;

                    var buttonRowElementId = "MovieReview" + id + "_ButtonRow";
                    document.getElementById(buttonRowElementId).innerHTML +=
                        "<div class=\"col-md-9 text-right\">" + "<button type=\"button\" " +
                        "onclick=\"showFullReview('" + id + "\')\">Показать обзор</button></div>";
                }
            };
            var endpoint = "/MovieReviews/ShortMovieReviewEntity/" + id;
            xhttp.open("GET", endpoint, true);
            xhttp.send();
        }
    </script>
}

