@page "{id:int?}"
@model MoviesBlogRazor.WebApp.Pages.MovieReviews.ShortMovieReviewEntityModel

@{
    Layout = null;
}

@{
    var movieReviewEntity = Model.MovieReviewEntity;

    var elementId = "MovieReview" + movieReviewEntity.MovieReviewId;

    <div class="row no-gutters">
        <div class="col-md-2">
            <img src="@movieReviewEntity.Image" width="100%">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="card-title">@movieReviewEntity.Title</h5>
                    </div>
                    <div class="col-md-9 text-right">
                        <a href="javascript:void(0);" onclick="getConfirmation('@movieReviewEntity.Title', '@movieReviewEntity.MovieReviewId')">Удалить</a>
                    </div>
                </div>

                <p class="card-text">
                    IMBD: @movieReviewEntity.Rating | MyRating: @movieReviewEntity.MyRating
                </p>
                <p class="card-text" style="font-size: larger">
                    Описание:
                </p>
                <p class="card-text" style="text-align: justify">
                    @movieReviewEntity.Description
                </p>

                @{ var buttonContainerId = elementId + "_ButtonRow"; }

                <div id="@buttonContainerId" class="row">
                    <div class="col-md-3">
                        <p class="card-text">
                            <small class="text-muted">
                                Обзор добавлен @movieReviewEntity.ReviewDateCreated.Value.ToString("dd-MM-yyyy")
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
